In [46]:
import pandas as pd
import numpy as np

In [65]:
rides_info = pd.read_csv('../data/rides_info.csv')
print(rides_info.shape)
rides_info.info()
rides_info.sample(5)

(900000, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            900000 non-null  object
 1   car_id             900000 non-null  object
 2   ride_id            900000 non-null  object
 3   ride_date          900000 non-null  object
 4   rating             900000 non-null  float64
 5   ride_duration      900000 non-null  float64
 6   ride_cost          900000 non-null  float64
 7   speed_avg          900000 non-null  float64
 8   speed_max          900000 non-null  float64
 9   stop_times         900000 non-null  int64
 10  distance           900000 non-null  float64
 11  refueling          900000 non-null  int64
 12  car_rating         900000 non-null  float64
 13  user_ride_quality  900000 non-null  float64
 14  deviation_normal   900000 non-null  float64
 15  killer_fs          900000 non-null  int64
dtypes: float64(9), int64(3), object(4)
memory usage: 109.9+ MB

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs
254032,x18576480r,P11981079c,h1J,2020-01-26 22:34:24.570293967,3.283397,3.637926,5.656796,32.000000,43.0,1,0.813451,0,4.0,0.707373,-8.678025,126
385622,V92428633V,W83123176R,S1j,2020-02-01 02:30:15.658017398,3.313172,6.097808,5.513415,35.000000,32.0,1,1.506023,0,3.1,-2.831328,-10.292603,97
447547,I18342870k,a22001180c,C1U,2020-02-03 09:50:02.151335723,4.363568,5.621479,6.514041,48.548795,49.0,0,0.346650,0,2.6,-0.596806,-10.789350,134
758139,O22357391e,s12304166o,F1V,2020-03-19 23:21:20.157422397,4.362463,5.005279,3.525768,34.000000,44.0,2,7.592032,0,3.3,-4.456653,7.171886,71
632337,m13858202s,k83261431R,K1u,2020-03-28 14:31:26.746096385,5.727555,3.872727,4.205529,31.000000,52.0,0,1.060587,0,-0.7,-6.731647,-5.411418,175

**TODO** fix dataset:

    - drop killer_fs
    - fix date
    - fix rating/speed (only two digit)
    - fix ride_cost => int

# Базовые способы Feature Engineering

In [19]:
rides_info['avg_on_max'] = rides_info['speed_avg'] / rides_info['speed_max']

rides_info.head(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,avg_on_max
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,1.161290
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,1.322581
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,0.966229
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,0.591837
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,0.620000

# Apply + Function + One column

In [60]:
def my_awesome_function(x):

    if x > 30:
        return 'more_30'
    else:
        return 'no_more_30'

rides_info['speed_avg_greater_30'] = rides_info['speed_avg'].apply(my_awesome_function) # Применяем функцию к столбцу

rides_info['speed_avg_greater_30'].value_counts() # Смотрим на результат

more_30       748648
no_more_30    151352
Name: speed_avg_greater_30, dtype: int64

In [26]:
rides_info['speed_avg_greater_30'].value_counts()

True     748648
False    151352
Name: speed_avg_greater_30, dtype: int64

# Apply + lambda function

In [61]:
my_awesome_function = lambda x: 'more_30' if x > 30 else 'no_more_30'

rides_info['speed_avg_greater_30'] = rides_info['speed_avg'].apply(my_awesome_function)

rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,speed_avg_greater_30
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,more_30
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,more_30
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,more_30
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,no_more_30
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,more_30

In [30]:
rides_info['speed_avg_greater_30'].value_counts()

True     748648
False    151352
Name: speed_avg_greater_30, dtype: int64

# Apply + Function + Two columns

In [45]:
two_cols = ['speed_avg', 'speed_max']

def A_devide_by_B(x):
    return x['speed_avg']/x['speed_max']

rides_info['new_feature'] = rides_info[two_cols].apply(A_devide_by_B, axis=1)

rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,avg_on_max,speed_avg_more_30,speed_avg_greater_30,new_feature
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,1.161290,True,True,1.161290
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,1.322581,True,True,1.322581
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,0.966229,True,True,0.966229
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,0.591837,False,False,0.591837
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,0.620000,True,True,0.620000

# Apply + Function + Many columns

In [46]:
def A_devide_by_B(x):
    return x['speed_avg']/x['speed_max']

rides_info['new_feature'] = rides_info.apply(A_devide_by_B, axis=1)

rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,avg_on_max,speed_avg_more_30,speed_avg_greater_30,new_feature
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,1.161290,True,True,1.161290
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,1.322581,True,True,1.322581
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,0.966229,True,True,0.966229
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,0.591837,False,False,0.591837
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,0.620000,True,True,0.620000

# Applymap + Function

In [56]:
cols = ['speed_avg', 'speed_max']

def A_devide_by_B(x):
    # print(x)
    return x

# rides_info['new_feature'] = 
rides_info[cols].applymap(A_devide_by_B).shape

# rides_info.head()

(900000, 2)

# Groupby + count / mean / sum / median

In [11]:
rides_info_gr = rides_info.groupby('car_id', as_index=False)[['rating', 'ride_duration', 'ride_cost']].mean()

rides_info_gr.head()

       car_id    rating  ride_duration  ride_cost
0  A10077085b  4.318904       5.049855   4.929234
1  A10348902N  4.352009       4.877496   4.863559
2  A10457102q  4.334774       5.025160   4.974770
3  A10976678f  4.347181       4.891495   4.997241
4  A11000629j  4.360769       4.926590   5.043735

# Groupby + agg

In [30]:
cols = ['rating', 'ride_duration', 'ride_cost']
rides_info_gr = rides_info.groupby('car_id', as_index=False)[cols].agg(['mean', 'sum']) # Производим группировку
rides_info_gr.columns = ['_'.join(c) for c in rides_info_gr.columns] # Убираем мульти индекс
rides_info_gr.head()

,rating_mean,rating_sum,ride_duration_mean,ride_duration_sum,ride_cost_mean,ride_cost_sum
car_id,,,,,,
A10077085b,4.318904,777.402705,5.049855,908.973881,4.929234,887.262088
A10348902N,4.352009,783.361634,4.877496,877.949309,4.863559,875.440685
A10457102q,4.334774,780.259287,5.025160,904.528811,4.974770,895.458591
A10976678f,4.347181,782.492585,4.891495,880.469100,4.997241,899.503301
A11000629j,4.360769,784.938403,4.926590,886.786209,5.043735,907.872360

# Groupby + agg + tuples

In [32]:
rides_info_gr = rides_info.groupby('car_id', as_index=False).agg(rating_mean = ('rating', 'mean'),
                                                                 ride_duration_sum = ('ride_duration', 'sum'),
                                                                 ride_cost_max = ('ride_cost', 'max'))


rides_info_gr.head(5)

       car_id  rating_mean  ride_duration_sum  ride_cost_max
0  A10077085b     4.318904         908.973881       7.449195
1  A10348902N     4.352009         877.949309       7.308041
2  A10457102q     4.334774         904.528811       8.039450
3  A10976678f     4.347181         880.469100       7.983514
4  A11000629j     4.360769         886.786209       8.230527

# Groupby + transform = groupby + agg + merge

In [66]:
# Делаем группировку
rides_info_gr = rides_info.groupby('car_id', as_index=False).agg(rating_mean = ('rating', 'mean')) 

# Приклеиваем полученные значения к исходной таблице
rides_info = rides_info.merge(rides_info_gr, on = 'car_id', how = 'left') 

# Смотрим результат
rides_info.head(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,rating_mean
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,4.318904
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,4.318904
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,4.318904
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,4.318904
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,4.318904

In [67]:
rides_info['rating_mean'] = rides_info.groupby('car_id', as_index=False)['rating'].transform('mean')

# Смотрим результат
rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,rating_mean
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,4.318904
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,4.318904
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,4.318904
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,4.318904
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,4.318904

# Groupby + transform + function

In [43]:
# Определяем нужную функцию
transform_function = lambda x: np.sum(x)/len(x)

# Применяем фнукцию для сгруппированных значение с сохранением индексов
rides_info['rating_mean'] = rides_info.groupby('car_id', as_index=False)['rating'].transform(transform_function)

# Смотрим результаты
rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,car_rating,user_ride_quality,deviation_normal,killer_fs,rating_mean
0,G19611845l,A10077085b,p1V,2020-01-01 05:29:47.925986584,4.806122,4.650555,3.721202,36.000000,31.0,1,0.439103,0,2.8,0.797270,0.269345,113,4.318904
1,W36503633B,A10077085b,F1h,2020-01-01 17:21:47.973453303,5.827247,4.663927,7.126641,41.000000,31.0,1,0.347980,0,1.3,0.745835,0.393012,113,4.318904
2,t43467921R,A10077085b,m1j,2020-01-02 05:13:48.020920023,3.497089,4.689062,6.323878,40.581614,42.0,1,1.753717,0,2.8,0.258923,-0.089015,113,4.318904
3,N24444152I,A10077085b,a1n,2020-01-02 17:05:48.068386742,4.896888,5.212562,5.326560,29.000000,49.0,0,1.764813,0,0.3,-0.323456,-0.154944,113,4.318904
4,w16722008W,A10077085b,B1N,2020-01-03 04:57:48.115853462,4.151057,3.430144,4.145335,31.000000,50.0,2,0.765686,0,2.8,-0.610029,-0.021960,113,4.318904

# Fix_info + Pivot Table

In [ ]:
# fix_info

rides_info_pivot = rides_info.pivot_table(index = 'car_id', columns = ['stop_times'], values = ['ride_id'], aggfunc = ['count']).fillna(0)
rides_info_pivot.columns = [f'{i[1]}_{i[0]}_{i[2]}' for i in rides_info_pivot.columns]
rides_info_pivot.reset_index(inplace=True)
rides_info_pivot#.sample(10)

In [ ]:
sns.pairplot(data=car_info_fs[cols].sample(500), corner=True, hue='target_2');

In [ ]:
sns.displit()

In [ ]:
sns.relplot()

In [ ]:
sns.lineplot()